<div id="<%= dom_id characteristic %>">
  <p>
    <strong>Strength:</strong>
    <%= characteristic.Strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= characteristic.Dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= characteristic.Constitution %>
  </p>

  <p>
    <strong>Appearance:</strong>
    <%= characteristic.Appearance %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= characteristic.Power %>
  </p>

  <p>
    <strong>Luck:</strong>
    <%= characteristic.Luck %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= characteristic.Size %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= characteristic.Intelligence %>
  </p>

  <p>
    <strong>Education:</strong>
    <%= characteristic.Education %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= characteristic.Character_id %>
  </p>

</div>
