<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.Name %>
  </p>

  <p>
    <strong>Birthplace:</strong>
    <%= character.Birthplace %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= character.Pronouns %>
  </p>

  <p>
    <strong>Ocupation:</strong>
    <%= character.Ocupation %>
  </p>

  <p>
    <strong>Residance:</strong>
    <%= character.Residance %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= character.Age %>
  </p>

</div>
